---
layout: main
title: Zim Economic Development Plans
pdfs:
  - name: "NATIONAL DEVELOPMENT PLAN 1965.pdf"
    description: "This is an example PDF description."
  - name: "ZIMCORD PART 1.pdf"
    description: "A detailed report on the topic."
  - name: "ESAP_pamphlet.pdf"
    description: "A pamphlet on the Economic Structural Adjustment Programme."
  - name: "ZG3-FIN3-VOL 1a.pdf"
    description: "A cunt's guide to economics"
---

<h1>{{ page.title }}</h1>
<div style="float: left; width: 400px;">

</div>
<div>
  <table>
    <thead>
      <tr>
        <th>PDF Name</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
      {% for file in site.static_files %}
        {% if file.path contains '/documents/' and file.extname == '.pdf' %}
          {% assign pdf_metadata = page.pdfs | where: "name", file.name | first %}
          <tr>
            <td><a href="{{ file.path }}">{{ file.name }}</a></td>
            <td>
              {% if pdf_metadata %}
                {{ pdf_metadata.description }}
              {% else %}
                No description available.
              {% endif %}
            </td>
          </tr>
        {% endif %}
      {% endfor %}
    </tbody>
  </table>
</div>